package page

templ Hello(Name string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>My Web Page</title>
			<meta charset="utf-8"/>
			<link rel="stylesheet" href="static/style/output.css"/>
		</head>
		<body class="bg-white">
			<div class="bg-blue-400">Hello, { Name }!</div>
		</body>
		halo { Name }
	</html>
}
