package page

import (
	"github.com/muhhae/go-templ-htmx/internal/view/base"
)

templ Hello(Name string) {
	@base.Base("Title") {
		<body class="bg-white">
			<div class="bg-blue-400">Hello, { Name }!</div>
			<div>
				{ MyName }
			</div>
		</body>
	}
}
