package view 

templ Hello(Name string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>My Web Page</title>
			<meta charset="utf-8"/>
			<link rel="stylesheet" href="static/style/output.css"/>
		</head>
		<body class="bg-white">
			<div class="bg-blue-400">Hello, { Name }!</div>
			<div>
				<a href="/about">About</a>
			</div>
			<div>
				<a href="/contact">Contact</a>
			</div>
			<div>
				<a href="/contact">Hallo</a>
			</div>
		</body>
		halo { Name }
		"as"
	</html>
}
